body {
  background-image: url("/images/lorem.png");
  background-repeat: repeat;
}

.btn-default {
  background-color: #5c3f66;
}

.results-background {
  min-height: 250px;
}

a:hover,
h2 {
  color: #5c3f66;
}
