body {
  background-image: url("/images/random.png");
  background-repeat: repeat;
}

.btn-default {
  background-color: #705877;
}

.results-background {
  min-height: 450px;
}

a:hover,
h2 {
  color: #705877;
}
