body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  padding-left: 0px;
  color: #333;
}

a {
  color: #333;
}

a:hover {
  color: rgb(0, 164, 161);
}

.jumbotron {
  background-color: rgb(0, 164, 161);
  color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px;
}

h2 {
  color: rgb(0, 164, 161);
  font-size: 22px;
}

.formbackground {
  background-color: #ddd;
}

.btn-default {
  background-color: rgb(0, 164, 161);
  border-color: none;
  color: #ffffff;
}

.error {
  color: red;
  padding-top: 10px;
}

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}

body {
    margin:0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ddd;
    text-align:center;
    padding:5px;
    margin:0px;
}
/* End Sticky Footer */
