body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("/images/main.png");
  background-repeat: repeat;
  color: #656565;
}

.navbar-brand {
  padding-left: 0px;
  color: #fff;
}

i {
  color: #705877;
  padding-right: 10px;
}

a {
  color: #fff;
}

a:hover {
  color: #1d1724;
}

a.navbar-brand:hover {
  color: #ddd;
}

p a {
  color: #000;
}

.jumbotron {
  background-color: transparent;
  color: #ffffff;
  text-align: center;
}

.jumbotron h1 {
  font-size: 48px;
}

h2 {
  color: #705877;
  font-size: 22px;
}

.row {
  background-color: #ddd;
}

.form-background {
  background-color: #ddd;
}

.results-background {
  background-color: #fff;
}

.btn-default {
  margin-bottom: 20px;
  background-color: #705877;
  border-color: none;
  color: #ffffff;
}

.error {
  color: red;
}
